<div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/jeep.png" alt="" />
          <h2>$56000</h2>
          <p>Easy Polo Black Edition</p>
          <a [routerLink]="['/detail']" class="btn btn-default add-to-cart">
            <i class="fa fa-shopping-cart"></i>Detail</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$56000</h2>
            <p>Easy Polo Black Edition</p>
            <a [routerLink]="['/detail']" class="btn btn-default add-to-cart">
              <i class="fa fa-shopping-cart"></i>Detail</a>
          </div>
        </div>
        <img src="assets/images/home/new.png" class="new" alt="" />
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li>
            <a href="#">
              <i class="fa fa-plus-square"></i>Add to wishlist</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-plus-square"></i>Add to compare</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/PNGPIX-COM-Orange-Jeep-Wrangler-Car-PNG-Image.png" alt="" />
          <h2>$75000</h2>
          <p>Easy Polo Black Edition</p>
          <a [routerLink]="['/detail']" class="btn btn-default add-to-cart">
            <i class="fa fa-shopping-cart"></i>Detail</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$75000</h2>
            <p>Easy Polo Black Edition</p>
            <a [routerLink]="['/detail']" class="btn btn-default add-to-cart">
              <i class="fa fa-shopping-cart"></i>Detail</a>
          </div>
        </div>
        <img src="assets/images/home/sale.png" class="new" alt="" />
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li>
            <a href="#">
              <i class="fa fa-plus-square"></i>Add to wishlist</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-plus-square"></i>Add to compare</a>
          </li>
        </ul>
      </div>
    </div>
  </div>